{
    "working_directory": "./active",
    "discord_token": "YOUR_DISCORD_BOT_TOKEN",
    "discord_tagline": "good evening",
    "message_search_count": 15,
    "command_chain_limit": 3,
    "max_concat_count": 3,
    
    "unspecified_default_timeout": 5,
    "default_guild_timeouts": {
        "destroy": 10,
        "concat": 12,
        "download": 15,
        "help": 1
    },
    "default_user_timeouts": {
        "destroy": 15,
        "concat": 20,
        "download": 30,
        "help": 3
    },
    "custom_guild_timeouts": {
        // "GUILD_ID": {
        //     "default": 0,
        //     "destroy": 10,
        //     "concat": 12,
        //     "download": 15,
        //     "help": 1
        // }
    },
    "custom_user_timeouts": {
        // "USER_ID": {
            // "ghost": false,
            // "max_chain": 50
        // }
    },
    "donor_guild_id": "YOUR_DONOR_GUILD_ID",
    "donor_guild_check_seconds": 600,
    "donor_teir_roles": {
        "ROLE_ID": {
            "user": {
                "max_chain": 5,
                "timeout_multiplier": 0.5
            },
            "guild": {
                "max_chain": 4,
                "timeout_multiplier": 0.75
            }
            
        }
    },
    "response_messages": [
        "these",
        "are",
        "random",
        "messages",
        "the",
        "bot",
        "will",
        "say"
    ],
    "meta_prefixes": ["veb", "videoeditbot", "destroy"]
}
